services:
  magi-haf-install:
    image: magi-haf:${MAGI_HAF_VERSION:-${HIVE_API_NODE_VERSION}}
    profiles:
      - apps
      - magi-haf
    environment:
      POSTGRES_HOST: haf
    command:
      - install_app
    networks:
      haf-network:
    depends_on:
      haf:
        condition: service_healthy
  magi-haf-uninstall:
    image: magi-haf:${MAGI_HAF_VERSION:-${HIVE_API_NODE_VERSION}}
    profiles:
      - magi-haf-uninstall
    environment:
      POSTGRES_HOST: haf
    command:
      - uninstall_app
    networks:
      haf-network:
    depends_on:
      haf:
        condition: service_healthy
  magi-haf-block-processing:
    image: magi-haf:${MAGI_HAF_VERSION:-${HIVE_API_NODE_VERSION}}
    profiles:
      - apps
      - magi-haf
    environment:
      POSTGRES_URL: postgresql://magi_owner@haf/haf_block_log
      MAGI_HAF_LOG_LEVEL: ${MAGI_HAF_LOG_LEVEL:-info}
    command:
      - process_blocks
    healthcheck:
      test: ["CMD-SHELL","/app/scripts/block_processing_healthcheck.sh || exit 1"]
      interval: 10s
      timeout: 2s
      retries: 10
      start_period: 15m
    networks:
      haf-network:
    depends_on:
      magi-haf-install:
        condition: service_completed_successfully
      haf:
        condition: service_healthy
  magi-haf-postgrest:
    image: ${POSTGREST_REGISTRY:-registry.gitlab.syncad.com/hive/haf_api_node/postgrest}:${POSTGREST_VERSION:-latest}
    profiles:
      - apps
      - magi-haf
    environment:
      PGRST_ADMIN_SERVER_PORT: 3001
      PGRST_DB_URI: postgresql://magi_user@haf/haf_block_log
      PGRST_DB_SCHEMA: magi_api
      PGRST_DB_ANON_ROLE: magi_user
      PGRST_DB_ROOT_SPEC: home
      PGRST_DB_POOL: 20
      PGRST_DB_POOL_ACQUISITION_TIMEOUT: 10
    networks:
      haf-network:
    healthcheck:
      test: ["CMD-SHELL", "wget --timeout=2 -nv -t1 --spider 127.0.0.1:3001/ready || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 1m
    depends_on:
      magi-haf-install:
        condition: service_completed_successfully
      magi-haf-block-processing:
        condition: service_healthy
      haf:
        condition: service_healthy
